@using PhotoStore.ViewModel.Home
@model PhotoStore.ViewModel.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layoutPublico.cshtml";
}

<div class="bannerInicial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-5">
                <h1>REGISTRANDO<br>SUAS VITÓRIAS</h1>
                <p>O Fotos de Corrida é um site para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>
    </div>
</div>
<div class="linhaBusca">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="1. Digite aqui o nome do evento">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="2. Digite seu nome ou número">
            </div>
            <div class="col-md-2">
                <button class="btnBusca" type="button"><span class="icon-magnifier btnIcon"></span> BUSCAR FOTOS</button>
            </div>
        </div>
    </div>
</div>


@if (Model != null && Model.EventosMaisRecentes != null && Model.EventosMaisRecentes.Count() > 0)
{
    var matriz = Model.ObterMatrizEventos(Model.EventosMaisRecentes);

    <div class="eventosRecentes">
        <div class="container">

            <div class="row spacerTop60">
                <div class="col-12">
                    <h2 class="text-center">EVENTOS RECENTES</h2>
                </div>
            </div>

            <div class="spacerTop60">
                @foreach (var linha in matriz)
                {
                    <div class="row ">

                        @foreach (var coluna in linha)
                        {
                            <div class="col-md-3">
                                <div class="photoContainerHome thumbnail">
                                    <img class="img-fluid portrait" src="@Url.Action("CapaDoEvento", "Eventos", new { Id = coluna.Id } )" >
                                    <span class="mascaraAzul"></span>
                                    <div class="photoContent">
                                        <a href="@Url.Action("Detalhes", "Eventos", new { Id = coluna.Id } )"></a>
                                        <h3>@coluna.Nome</h3>
                                        <p><span class="icon-calendar"></span> @coluna.Inicio.ToString("dddd dd/MM/yyyy")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="photoContainerHome thumbnail">
                                    <img class="img-fluid" src="img/sample-image-home.jpg">
                                    <span class="mascaraAzul"></span>
                                    <div class="photoContent">
                                        <a href="http://www.pudim.com.br"></a>
                                        <h3>Nome do evento lorem ipsun dolor eiusmod</h3>
                                        <p><span class="icon-calendar"></span> Terça-feira 27/02/18</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                }


            </div>

        </div>
    </div>
}





@if (Model != null && Model.EventosMaisAntigos != null && Model.EventosMaisAntigos.Count() > 0)
{
    var matriz = Model.ObterMatrizEventos(Model.EventosMaisAntigos);

    <div class="eventosAntigos spacerTop60">
        <div class="container">
            <div class="row iconRecuado text-center">
                <div class="col-md-12">
                    <p><img src="img/icon-eventos-antigos.png"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">EVENTOS MAIS ANTIGOS</h2>
                </div>
            </div>

            <div class="spacerTop30">
                @foreach (var linha in matriz)
                {
                    <div class="row spacerTop60">

                        @foreach (var coluna in linha)
                        {
                            <div class="col-md-3">
                                <div class="photoContainerHome">
                                    <img class="img-fluid" src="@Url.Action("CapaDoEvento", "Eventos", new { Id = coluna.Id } )">
                                    <span class="mascaraAzul"></span>
                                    <div class="photoContent">
                                        <a href="@Url.Action("Detalhes", "Eventos", new { Id = coluna.Id } )"></a>
                                        <h3>@coluna.Nome</h3>
                                        <p><span class="icon-calendar"></span> @coluna.Inicio.ToString("dddd dd/MM/yyyy")</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                }
            </div>

        </div>
    </div>
}


