@model PhotoStore.Core.Model.Produto

@{
    ViewBag.Title = "Excluir Produto";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Produto</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <h4>Foto @Model.Nome</h4>
    <hr />
        <img src='~/Content/Images/@string.Format("{0}.thumb.jpg", @Model.Id)' />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-primary", role = "button" })
        </div>
    }
</div>
