@model PhotoStore.Core.Model.Produto

@{
    ViewBag.Title = "Cadastro de Produto";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts {

<script type="text/javascript">

        $(function () {


        });

</script>
    
}

<h2>Cadastro de Produto</h2>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="text-right">
            @Html.ActionLink("Voltar à lista", "Index", null, new { @class = "btn btn-primary", role = "button" })
        </div>
    </div>

    <div class="container-fluid bordered spacer">

        <div class="form-horizontal">
            <fieldset>
                @Html.ValidationSummary(false, "Erros encontrados", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)


                <div class="row sp-vertical">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-form-label" })
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdTipoProduto, htmlAttributes: new { @class = "col-form-label " })
                            @Html.DropDownListFor(model => model.IdTipoProduto, ViewBag.ComboTipos as SelectList, "Selecione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdTipoProduto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="row sp-vertical">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "col-form-label" })
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "col-form-label" })
                            @Html.TextBoxFor(model => model.Preco, new { @class = "form-control vtr_money" })
                            @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


                <div class="form-group  text-right">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>

            </fieldset>



        </div>
    </div>

  

}