@using PhotoStore.ViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>


    @Styles.Render("~/bundles/cssbundle")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .modalloading
        {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 51, 51, 51, 0.6 )
                        url('@Url.Content("~/Content/Images/hourglass.gif")')
                        50% 50%
                        no-repeat;
        }


        body.loading {
            overflow: hidden;
        }
        body.loading .modalloading {
            display: block;
        }


        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>

    @RenderSection("scriptsHead", required: false)
</head>
<body>

    <header>


        <nav class="navbar navbar-expand-lg navbar-light bg-light body-content">
            <a href='@Url.Action("Index", "Home", new { area = "" })' class="navbar-brand">
                <img src='@Url.Content("~/Content/Images/tecnunpeq.png")' style="width:90px; height:27px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">@Html.ActionLink("Tipo de Produto", "Index", "TipoProduto", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Eventos", "Index", "Eventos", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Pedidos", "Index", "Pedidos", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Fotógrafos", "Index", "Fotografos", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Fotos", "Index", "FotoAdmin", new { Area = "Admin" }, new { @class = "nav-link" })</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>


                </ul>

                @Html.Partial("_LoginPartial")




            </div>
        </nav>
    </header>








    <div class="container body-content">

        <div class="row">

            <div class="col-sm-12">
                <div class="row sp-vertical"></div>
                @if (TempData["MensagemUsuario"] != null)
                {
                    MensagemParaUsuarioViewModel msg = TempData["MensagemUsuario"] as MensagemParaUsuarioViewModel;
                    if ((msg != null) && (!string.IsNullOrWhiteSpace(msg.Mensagem)))
                    {
                        <div class="@msg.Classe" style="white-space: pre-line"><strong>@msg.Titulo</strong>: @msg.Mensagem</div>
                    }
                }
            </div>

        </div>

        @RenderBody()

    </div>

    <hr />
    <footer class="body-content">
        <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/select2")
    <script src="~/Scripts/DynamicCulture" type="text/javascript"></script>
    @Scripts.Render("~/bundles/vtr")

    <script type='text/javascript'>
        var timeOutHandler;
        $(function () {
            $(document).on({
                ajaxStart: function () {
                    clearTimeout(timeOutHandler);
                    timeOutHandler = setTimeout(function () { $("body").addClass("loading"); }, 1000);
                },
                ajaxStop: function () {
                    clearTimeout(timeOutHandler);
                    $("body").removeClass("loading");
                },
                ajaxComplete: function () {
                    clearTimeout(timeOutHandler);
                    $("body").removeClass("loading");
                }
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
